* {
    width: 100%;
    padding: 0px;
    margin: 0px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html, body{min-height:100%;}
body{height:100vh;}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 22px;
}

.content {
    width: 30rem;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.0rem;
}

.logo-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 5px;
    text-align: center; 
    color: #fff;
    line-height: 1em;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.logo-image {
    margin-bottom: 20px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
}

.subscribe-box {
    height: auto;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    border: 5px;
    text-align: center; 
    color: #fff;
    font-size: 0.8rem;
    color: #000;
}

.description {
    flex: 1;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    margin-right: 20px;
}

.subscription {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 5px;
}

.subscription > span {
    font-size: large;
}

.button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    margin: 4px 2px;
}

.telegram-button {
    background-color: #0088cc;
}
  
.facebook-button {
    background-color: #3b5998;
}
  
@media only screen and (max-width: 425px) {
    body {
      height: auto;
    }

    .content {
        margin: 10px;
        width: 15rem;
    }

    .logo-box {
        width: inherit;
        padding: 20px;
        font-size: 0.8rem;
        border: 2px solid #000;
    }

    .logo-image {
        margin-bottom: 10px;
        width: 80px;
        border: 3px solid white;
        border-radius: 5px;
    }

    .subscribe-box {
        height: auto;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        justify-content: flex-start;
        border: 5px;
        text-align: left; 
        color: #fff;
        font-size: 0.8rem;
        color: #000;
    }

    .description {
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 20px;
        border: 2px solid #000;
    }

    .subscription {
        border: 2px solid #000;
    }
    
  }